.subject{
  text-align: center;
  font-weight: bold;
  color:darkslategrey;
}
.active-chapter a{
  color: white;
  text-decoration: none;
}
.active-chapter a:hover{
  color: white;
}

.chapter-video{
  margin-bottom: 25px;
}

.chapter-heading{
  text-align: center;
  width:100%;
}
